button{
    margin-top: 2%;
}

.detalhesEvento{
    margin-top: 2%;
    box-shadow: 0px 0px 5px grey;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1px;
    border-radius: 1% 1%;
}

.adicionarConvidado{
    margin-top: 2%;
    box-shadow: 0px 0px 5px grey;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-radius: 1% 1%;
}

.listaConvidados{
    margin-top: 2%;
    box-shadow: 0px 0px 5px grey;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-radius: 1% 1%;
}

.cadastroEvento{
    margin-top: 2%;
    box-shadow: 0px 0px 5px grey;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-radius: 1% 1%;
}

.listarEventos{
    margin-top: 2%;
    box-shadow: 0px 0px 5px grey;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-radius: 1% 1%;
}

.loginFormulario{
    display: center;
    width: 30%;
    height: 30%;
    box-shadow: 0px 0px 10px grey;
    border-radius: 3% 3%;
}

.entrarTitulo{
    text-align: center;
    margin-top: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.formContainer{
    display: center;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8%;
}

.btnLogin{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

::-webkit-input-placeholder {
    color: #546e7a;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #546e7a;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #546e7a;  
 }
 
 :-ms-input-placeholder {  
    color: #546e7a;  
 }

.materialert{
    position: relative;
    min-width: 150px;
    padding: 15px;
    margin-bottom: 1%;
    margin-top: 15px;
    margin-left: 8%;
    margin-right: 8%;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.1s linear;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 1px -1px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.materialert .material-icons{
    margin-right: 10px;
}

.materialert .close-alert{
    /* -webkit-appearance: none; */
    border: 0;
    cursor: pointer;
    color: inherit;
    background: 0 0;
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    filter: alpha(opacity=40);
    margin-bottom: -5px;
    position: absolute;
    top: 16px;
    right: 5px;
}

.materialert.info{
    background-color: #039be5;
    color: #fff;
}

.materialert.warning{
    background-color: #fbc02d;
    color: #fff;
}